name: recipe_finder_app
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.12.0
  flutter_dotenv: ^6.0.0
  flutter_screenutil: ^5.9.3
  flutter_svg: ^2.2.3
  font_awesome_flutter: ^10.12.0
  dartz: ^0.10.1
  flutter_bloc: ^9.1.1
  loading_animation_widget: ^1.3.0
  cached_network_image: ^3.4.1
  pinput: ^5.0.0
  shimmer: ^3.0.0
  buttons_tabbar: ^1.3.15
  social_sharing_plus: ^1.2.3
  google_sign_in: ^7.2.0
  image_picker: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  assets:
    - .env

    - lib/assets/icons/chef.svg
    - lib/assets/icons/chef-hat.svg

    - lib/assets/images/login-image.png
    - lib/assets/images/login-image-2.png
    - lib/assets/images/login-image-3.png
    - lib/assets/images/avatar-people.svg

    - lib/assets/ui_pictures/login.png
    - lib/assets/ui_pictures/signup.png
    - lib/assets/ui_pictures/about-us.png
    - lib/assets/ui_pictures/change-password.png
    - lib/assets/ui_pictures/complete.png
    - lib/assets/ui_pictures/cooking-step.png
    - lib/assets/ui_pictures/detail.png
    - lib/assets/ui_pictures/forgot-password.png
    - lib/assets/ui_pictures/home-1.png
    - lib/assets/ui_pictures/home-2.png
    - lib/assets/ui_pictures/notification.png
    - lib/assets/ui_pictures/preparation.png
    - lib/assets/ui_pictures/profile.png
    - lib/assets/ui_pictures/saved.png
    - lib/assets/ui_pictures/search.png
    - lib/assets/ui_pictures/signup-with-google.png

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
